<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:mo="https://gitee.com/aun/Timo">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
    <link rel="stylesheet" th:href="@{/lib/zTree_v3/css/zTreeStyle/zTreeStyle.css}" type="text/css">
</head>
<body>
<div class="layui-form timo-compile">
    <form th:action="@{/system/assessmentPlan/save}">
        <input type="hidden" name="id"  th:value="${item?.id}"/>
        <div class="layui-form-item">
            <label class="layui-form-label ">计划标题</label>
            <div class="layui-input-inline">
                <input class="layui-input" type="text" name="title" th:value="${item?.title}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label ">开始时间</label>
            <div class="layui-input-inline">
                <input class="layui-input" onchange="starTimeChange()" th:value="${item?.starTime}"  type="date" name="starTime" id="starTime"  >
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label ">结束时间</label>
            <div class="layui-input-inline">
                <input class="layui-input" onchange="endTimeChange()"  type="date" name="endTime" id="endTime" th:value="${item?.endTime}"  >
            </div>
        </div>

        <div class="layui-form-item timo-finally">
            <button class="layui-btn ajax-submit"><i class="fa fa-check-circle"></i> 保存</button>
            <button class="layui-btn btn-secondary close-popup"><i class="fa fa-times-circle"></i> 关闭</button>
        </div>
    </form>
</div>
<script th:replace="/common/template :: script"></script>
<script type="text/javascript" th:src="@{/js/plugins/jquery-2.2.4.min.js}"></script>
<script type="text/javascript" th:src="@{/lib/zTree_v3/js/jquery.ztree.core.min.js}"></script>
<script type="text/javascript" th:src="@{/js/timoTree.js}"></script>
<script type="text/javascript">
    // 树形菜单
    $.fn.selectTree();
    $(function () {
        //得到当前时间
        var nowDate = new Date();
        //得到当前年份
        var year = nowDate.getFullYear();
        //得到当前月份
        var month = nowDate.getMonth()+1 < 10 ? "0"+(nowDate.getMonth()+1) : (nowDate.getMonth()+1);
        //得到当前日子
        var date = nowDate.getDate() < 10 ? "0"+nowDate.getDate() : nowDate.getDate();
        //赋值给表单元素
        // $("#starTime").attr("min",year+"-"+month+"-"+date);
        $("#endTime").attr("min",year+"-"+month+"-"+date);

        var time = document.getElementById("starTime").value;
        $("#endTime").attr("min",time)
        var maxTime = document.getElementById("endTime").value;
        $("#starTime").attr("max",maxTime);
    })
    function starTimeChange() {
        var time = document.getElementById("starTime").value;
        $("#endTime").attr("min",time);
    }
    function endTimeChange() {
        var maxTime = document.getElementById("endTime").value;
        $("#starTime").attr("max",maxTime);
    }
</script>
</body>
</html>