<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:mo="https://gitee.com/aun/Timo"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
    <link rel="stylesheet" th:href="@{/lib/zTree_v3/css/zTreeStyle/zTreeStyle.css}" type="text/css">
</head>
<body class="timo-layout-page">
<div class="layui-form timo-compile">
    <form th:action="@{/system/template/save}">
        <input class="layui-input" type="hidden" name="id"  th:value="${template.id}"  >
        <div style="    text-align: center; margin-bottom: 50px">
            <h2>《测评报告模板》</h2>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label required">报告结语</label>
            <div class="layui-input-inline">
                <textarea placeholder="报告结语" style="width:550px;height: 255px" class="layui-textarea" name="summarize"> [[${template.summarize}]] </textarea>
                <input class="layui-input" type="hidden" name="protocolTitle"  th:value="${template.protocolTitle}"  >
                <input class="layui-input" type="hidden" name="protocolContent"  th:value="${template.protocolContent}"  >
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label required">报告结语</label>
            <div class="layui-input-inline">
                <input type="radio" name="state" th:checked="${template.state=='1'}"   value="1" th:title="是">
                <input type="radio" name="state" th:checked="${template.state=='0'}"   value="0" th:title="否">
            </div>
        </div>


        <!--<div class="layui-form-item">-->
            <!--<label class="layui-form-label required">协议内容</label>-->
            <!--<div class="layui-input-inline">-->
                <!--<textarea placeholder="结论" style="width:550px;height: 255px" class="layui-textarea" name="protocolContent"> [[${template.protocolContent}]] </textarea>-->
            <!--</div>-->
        <!--</div>-->
        <div class="layui-form-item timo-finally">
            <div style="display: flex; flex-direction:row-reverse; ">
                <button class="layui-btn ajax-submit"><i class="fa fa-check-circle"></i> 保存</button>
            </div>
            <!--<button class="layui-btn btn-secondary close-popup"><i class="fa fa-times-circle"></i> 关闭</button>-->
        </div>

    </form>
</div>
<script th:replace="/common/template :: script"></script>
<script type="text/javascript" th:src="@{/js/plugins/jquery-2.2.4.min.js}"></script>
<script type="text/javascript" th:src="@{/lib/zTree_v3/js/jquery.ztree.core.min.js}"></script>
<!--<script type="text/javascript" th:src="@{/js/timoTree.js}"></script>-->
<script type="text/javascript">
    var local = window.localStorage;
    // 树形菜单
    // $.fn.selectTree({
    //     rootTree: '全部',
    //     onSelected: function (treeNode) {
    //         local.setItem('deptTitle', treeNode.name);
    //
    //     }
    // });
</script>
</body>
</html>